<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
      <h3>This is the Venue Page</h3>
      <h4>Venue Page</h4>
    </div>

    <div class="text-right">
    	<a href="/homepage/venue.create/" class="btn btn-warning">Create New Venue</a>
    </div>
    <table id="venues_table" class="table table-striped table-bordered">
    	<tr>
    		<th>ID</th>
    		<th>Name</th>
    		<th>Address</th>
    		<th>City</th>
    		<th>State</th>
    		<th>ZIP</th>
            <th>Email</th>
            <th>Actions</th>
	    %for venue in venues:
	    	<tr>
	    		<td>${ venue.id }</td>
	    		<td>${ venue.name }</td>
	    		<td>${ venue.address }</td>
	    		<td>${ venue.city }</td>
	    		<td>${ venue.state }</td>
                <td>${ venue.zip }</td>
                <td>${ venue.email }</td>
	    		<td>
	    			<a href="/homepage/venue.edit/${ venue.id }/" class="btn btn-xs btn-primary">edit</a>
	    		</td>
	    	</tr>
	    %endfor
    </table>

</%block>