## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    
    <title>Colonial Heritage Foundation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <!-- 
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   -->
  
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }

    <link rel="icon" type="image/x-icon" href="/static/homepage/media/faviconred-02.ico" />
  
  </head>
  <body>
  
    <header>
      <%block name="header">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="/homepage/index/"><img id="logo" src="/static/homepage/media/CHFlogo.png" /></a>
          </div>
  
  <div class="collapse navbar-collapse">
    
    <ul class="nav navbar-nav">
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">CRUD Pages<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="/homepage/venue/">Venues</a></li>
                <li><a href="/homepage/photo/">Photographs</a></li>
                <li><a href="/homepage/inventory/">Inventory</a></li>
                <li><a href="/homepage/saleitem/">Sale Item</a></li>
                <li><a href="/homepage/area/">Area</a></li>
              </ul>
            </li>
      <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales Catalog<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="#">Artisan Item</a></li>
                <li><a href="#">Made-To-Order Item</a></li>
                <li><a href="#">Mass-Produced Item</a></li>
              </ul>
            </li>
      <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rentals <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Wardrobe Item</a></li>
                <li><a href="#">Other Items</a></li>
                <li class="divider"></li>
            <!--
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            -->
              </ul>
            </li>
    </ul>
  <!--
    <button type="button" class="btn btn-default navbar-btn">Button</button>
  -->
          <!-- <div class="col-sm-4 col-md-4 pull-right">
           <div class="navbar-text"> -->
        <ul class="nav navbar-nav pull-right">
            <li><a href="/homepage/users/">Users</a></li>
              <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
              </form>
            %if request.user.is_authenticated():
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/homepage/login.logout_view/">Logout</a></li>
                  </ul>
              </li>
            %else:
              <li><a href="/homepage/login/">Login</a></li>
            %endif
        </ul>

    
          </div>
        </div>
      </%block>
    </header>


  <div id="wrap">
    <div id="main" class="container clear-top">

    <div class="col-md-10 center">
      <%block name="content">
        Site content goes here in sub-templates.
      </%block>  
    </div>
  </div>

  </div>

  <footer class="footer">
    <%block name="footer">

    </%block>
  </footer>
  
    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>