<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
      <h3>Congratulations -- you've successfully created a new django-mako-plus app!</h3>
      <h4>Next Up: Go through the django-mako-plus tutorial and add Javascript, CSS, and urlparams to this page.
      <span class="label label-warning">Warning</span></h4>
      <br>
      <button type="button" class="btn btn-primary">Primary Button
      	<span class="badge">1</span>
      </button>
      <button type="button" class="btn btn-success">Success Button
      	<span class="badge">2</span>
      </button>
    </div>

<!--
    %for i in range(50):
    	%if i % 9 == 0:
    		<p>${i}: Welcome to my site</p>
    	%endif
    %endfor
-->

</%block>