<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
      <h3>This is the inventory Page</h3>
      <h4>inventory Page</h4>
    </div>

    <div class="text-right">
    	<a href="/homepage/inventory.create/" class="btn btn-warning">Create New Inventory Item</a>
    </div>
    <table id="inventory_table" class="table table-striped table-bordered">
    	<tr>
    		<th>ID</th>
    		<th>Name</th>
    		<th>Description</th>
    		<th>Value</th>
            <th>Actions</th>
	    %for inventory in inventories:
	    	<tr>
	    		<td>${ inventory.id }</td>
	    		<td>${ inventory.name }</td>
	    		<td>${ inventory.description }</td>
	    		<td>${ inventory.value }</td>
	    		<td>
	    			<a href="/homepage/inventory.edit/${ inventory.id }/" class="btn btn-xs btn-primary">edit</a>
	    		</td>
	    	</tr>
	    %endfor
    </table>

</%block>