<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
      <h3>This is the Saleitem Page</h3>
      <h4>Saleitem Page</h4>
    </div>

    <div class="text-right">
    	<a href="/homepage/saleitem.create/" class="btn btn-warning">Create New Sale Item</a>
    </div>
    <table id="saleitems_table" class="table table-striped table-bordered">
    	<tr>
    		<th>ID</th>
    		<th>Name</th>
    		<th>Description</th>
    		<th>Low Price</th>
    		<th>High Price</th>
            <th>Actions</th>
	    %for saleitem in saleitems:
	    	<tr>
	    		<td>${ saleitem.id }</td>
	    		<td>${ saleitem.name }</td>
	    		<td>${ saleitem.description }</td>
	    		<td>${ saleitem.low_price }</td>
	    		<td>${ saleitem.high_price }</td>
	    		<td>
	    			<a href="/homepage/saleitem.edit/${ saleitem.id }/" class="btn btn-xs btn-primary">edit</a>
	    		</td>
	    	</tr>
	    %endfor
    </table>

</%block>